<div class="container mt-4">
    <div class="mt-4 p-5 rounded">
            <script>
                console.log('')
            </script>
    {{#if listExists}}
        {{#each messages as | message |}}
        <div class="card">
            <div class="card-body">
                Message: {{{link message.message}}} | Sent: {{relativeDate message.date}} | From: {{#with (lookup ../clientObject [sender])~}} {{name}} | Status: {{deliveredStatus message.delivered}}</i>
                {{/with}}
            </div>
        </div>
        <br>
        {{/each}}
    {{/if}}
    {{#unless messageCount}}
        <h3 class="text-center">No messages! Send a message</h3>
    {{/unless}}
    </div>
</div>
